{% extends 'base.html.twig' %}

{% block title %}Hello MemberController!
{% endblock %}

{% block body %}

	<center>
		<h1 class"text-align-center">La vision des pays
		</h1>
	</center>
	<div class="row">
		<div class="col-3 m-4">
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body m-5">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>

			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body m-5">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>
			<img class="card-img-top" src="..." alt="Card image cap">
			<div class="card-body m-5">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				<a href="#" class="btn btn-primary">Go somewhere</a>
			</div>

		</div>
	<div class="col-6 m-4">
	<iframe src="https://www.google.com/maps/d/embed?mid=1CzemMB0WHillRaDeYW1FawV52yQ" width="640" height="480"></iframe>
	</div>
	<div class="col-3 m-4">
	</div>


	{% endblock %}
