{% block footer %}
	<div class="fixed-bottom">
		<div
			class="row">
			<!--Grid column-->
			<div class="footer">

				<a href="/" class="footer-text">À propos</a>

				<a href="" class="footer-text">Compétences</a>

				<a href="" class="footer-text">Actualités</a>

				<a href="" class="footer-text">Contact</a>

				<a href="" class="footer-text">Mentions légales</a>

				<a href="" class="footer-text">Politique de protection des données</a>

				<div class="col-xl-4 col-lg-4 col-md-5 col-sm-5"></div>
				<div class "text-center p-3 text-white">
					©- Tous droits réservés
				</div>

			</div>
		</div>

	{% endblock %}
