<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Maître Thibaud Béjat
			{% block title %}{% endblock %}
		</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/build/app.css">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% include '_navbar.html.twig' %}

	</head>

	<header class="mb-5"></header>

	{% block body %}{% endblock %}

	<footer>
		{% include '_footer.html.twig' %}
	</footer>
	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&language=fr">
	<script src="/build/app.js"></script>
	<script src="https://kit.fontawesome.com/2d0e64c378.js " crossorigin="anonymous "></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
	<script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js " integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 " crossorigin="anonymous "></script>
</html></body></html></head></html>
